<div>
    <h2>Ligne de métro B</h2>

    <br />
    La ligne B du métro de Rennes traversera les communes de Saint-Jacques-de-la-Lande, Rennes et Cesson-Sévigné du sud-ouest au nord-est, reliant les stations Saint-Jacques-Gaîté à Cesson-Viasilva.

    <br />
    Cette seconde ligne sera inaugurée au 2e semestre 2020. Elle sera la première ligne au monde à utiliser la technologie Neoval, via sa variante CityVal, évolution de la technologie du véhicule automatique léger utilisée pour la première ligne.
    <br />
    <br />

    <input class="go-next btn btn-lg btn-block" type="button" value="Continuer"/>
</div>