<div class="answer-container">
    <h2>A Propos</h2>

    <br>
    <br>
    Ce quizz a été réalisé dans le contexte du Hyplab, organisé par Ouest Medialab. Ce projet met en jeu la coopération des étudiants de l'INSA de Rennes et de LISAA.
    <br> 
    <br>
    Les participants au projet:<br>
    Ariane Montagne<br>
    Sebastien Fabris<br>
    Tom Spreters<br>
    Nathan Le Sommet<br>
    Evan Mottais<br>
    Simon Beaulieu<br>
    Jordan Le Bongoat<br>
    Justine Chapron<br>
    Caroline Guillouet<br>

    <div>
        <img src="data/images/HYBLAB.png" style="float: left; width: 100px;" />
        <img src="data/images/OML.png" style="float: left; width: 100px" />
        <img src="data/images/lisaa-1.png" style="float: left; width: 100px" />
        <img src="data/images/INSA.png" style="float: left; width: 100px" />
    </div>

    <div style="text-align: center;">
        <img src="data/images/cc_logo_large.png" style="width: 100px" />
        <img src="data/images/open_source.jpg" style="width: 100px" />
    </div>
    <input class="go-next btn btn-lg btn-block" type="button" value="Retour"/>
</div>