<div class="answer-container">
    <h2>
        {{~#if userAnswer.success}}
            Bravo :)
        {{~^~}}
            Presque :(
        {{~/if~}}
    </h2>

    <br />

    <div id="col1">
      <div class='imagesContainer'>
              <img class="img" alt="Image" src="{{userAnswer.imgUserAnswer}}" id="im1"/>
      </div>
      <br />
      Votre réponse : {{ userAnswer.value }}
    </div>
    <div id="col2">
      <div class='imagesContainer'>
              <img class="img" alt="Image" src="{{userAnswer.imgAnswer}}" id="im2"/>
      </div>
      <br />
      Vraie valeur : {{ answer }}
    </div>
    <br />
    <br />

    <input class="go-next btn btn-lg btn-block" type="button" value="Continuer"/>
</div>
