<h3>{{title}}</h3><br/>
<div class='volumesContainer'>
    <input type="range" orient="vertical" step={{step}} min={{range.[0]}} max={{range.[1]}} value={{range.[0]}} id="myRange" style="float:left; width:25%" />
    <div class='imagesContainer' style= "float: left; width: 70%">
            <img class="img" alt="Image" id="im" style="width:100%"/>
    </div>
</div>
<div class="outputDiv">
    <output class="output" id='demo'></output>
</div>
    <input class="checker btn btn-lg btn-block" type="button" value="Valider" />
