<div style="position:absolute">
        <img class="intro-logo1" src="data/images/ici_rennes_logo_rouge.png">
</div>

<h3 class="intro-title">{{intro.title}}</h3>
<p>{{intro.subtitle}}</p>
<br />

<div class='intro-difficulty-container'>
    {{~#if (gte quizzes.length 2)}}
        {{#each quizzes}}
            <input id="quizz-difficulty-{{@index}}" class="intro-difficulty-input select-quizz-difficulty-{{@index}} btn btn-lg" type="button" value="{{name}}"/>
        {{~/each}}
    {{~/if~}}
</div>

<input class="start-quizz btn btn-lg btn-block" type="button" value="Commencer"/>

<div style="position:absolute; height:100%">
        <img class="intro-logo2" src="data/images/logo_rennes.png">
</div>