<h3>{{title}}</h3><br/>
<svg id="map-svg" pointer-events="none" width="100%" height="100%" viewBox="0 0 1031 893"
     xmlns="http://www.w3.org/2000/svg">
    <image pointer-events="none" xlink:href="data/images/empty_map.png" x="0" y="0" width="1031" height="893"></image>
    <polyline pointer-events="none" points=""
              style="fill:none;stroke:#e74c3c;stroke-width:8;stroke-opacity: .8;"></polyline>
    <!--<polyline pointer-events="none"-->
              <!--points="35 668.25 245 546.75 105 425.25 210 445.5 350 526.5 420 526.5 420 445.5 385 384.75 490 202.5 560 202.5 700 283.5 805 222.75 910 202.5"-->
              <!--style="fill:none;stroke:#2ecc71;stroke-width:8;stroke-opacity: .8;"></polyline>-->
</svg>
<input class="checker btn btn-lg btn-block" type="button" value="Valider"/>