<h3>{{outro.title}}</h3>
<p>{{outro.subtitle}}</p>
<br />
<input class="restart-game btn btn-lg btn-block" type="button" value="Recommencer"/>
<br />
<input class="about btn btn-lg btn-block" type="button" value="A propos"/>
<br /><br />
<div style="border: 1px solid #ccc!important; border-radius: 8px">
    <div style="float: left; width: 40%">
        <img src="{{outro.bonusImg}}" />
    </div>
    <div style="float: left; width: 40%">
        <p>
            {{{outro.bonusText}}}
        </p>
    </div>
</div>
<br /><br />

<div>
    <img src="data/images/HYBLAB.png" style="float: left; width: 180px; margin: 10px" />
    <img src="data/images/OML.png" style="float: left; width: 120px; margin: 10px" />
    <img src="data/images/lisaa-1.png" style="float: left; width: 130px" />
    <img src="data/images/INSA.png" style="float: left; width: 100px; margin: 40px" />
</div>
