<h3 style="margin-top: 30px; color: white">{{outro.title}}</h3>

<img src="data/images/Bandeau.svg" style="
    top: 5px;
    left: 0px;
    position: absolute;
    z-index: -100;
" />


<p>{{outro.subtitle}}</p>
<br />

<img src="data/images/perso2.svg" style="height: 300px" />
<br />

<input class="restart-game btn btn-lg btn-block" style="background-color: #cb4533" type="button" value="Recommencer"/>
<br />
<input class="about btn btn-lg btn-block" style="background-color: #cb4533" type="button" value="A propos"/>
<br /><br />

<!--<div style="border: 1px solid #ccc!important; border-radius: 8px">
    <div style="float: left; width: 40%">
        <img src="{{outro.bonusImg}}" />
    </div>
    <div style="float: left; width: 40%">
        <p>
            {{{outro.bonusText}}}
        </p>
    </div>
</div>
-->
<p style="
    background-color: #00000063;
    color: white;
    float: left;
    position: fixed;
    top: 650px;
    left: 0;
    margin-left : 20px;
    text-align: center;"
>Découvrez les 5 architectes du projet Samsic</p>
<img src="data/images/Jak1.jpg" style="width: 120%; margin-left: -50px;"/>

<!--
<br /><br />

<div>
    <img src="data/images/HYBLAB.png" style="float: left; width: 180px; margin: 10px" />
    <img src="data/images/OML.png" style="float: left; width: 120px; margin: 10px" />
    <img src="data/images/lisaa-1.png" style="float: left; width: 130px" />
    <img src="data/images/INSA.png" style="float: left; width: 100px; margin: 40px" />
</div>
-->
