@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|PT+Serif:400,700,400italic');

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #555;
}

.question-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.hide {
  display: hidden;
}



/* PARTIE INTRO */

.intro-difficulty-container {
  width: 100%;
  /*margin: 0 auto;*/
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1em;
}

.intro-difficulty-input {
  width: 100px;
  /*float: left;*/
    display: inline-block;
    zoom: 1;
}



.btn-block {
  border-radius: 2rem;
  background-color: #3171b6;
  color: white;
}

.btn {
  border-radius: 2rem;
  background-color: #3171b6;
  color: white;
}

.intro-difficulty-clicked {
  background-color: grey;
}

/* PARTIE SLIDER */
.volumesContainer{
  display: block;
  align-items: baseline;
}
div #col1 {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

div #col2 {
  display: inline-block;
  width: 50%;
  padding: 10px;
  text-align: center;
}


input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.range-slidecontainer{
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  height: 100%;
}

.maxContainer{
  transform: rotate(90deg);
  height: 10%;
}
.minContainer{
  transform: rotate(90deg);
  height: 10%;
}


.imagesContainer{
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.range-slider{
  -webkit-appearance: none;  /* Override default CSS styles */
    height : max-content;
    width: 80%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* Mouse-over effects */
.range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #3171b6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.range-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #3171b6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.outputDiv{
  text-align: center;
  
}
.output{
  background: #9ed7fd;
  padding: 5px 15px 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #3171b6;
  border-radius: 10px;
  margin: 10px;
}

h1 {
  font-family: 'Source Sans Pro', serif;
}

.barba-container {
  position: relative;
}

header {
  position: relative;
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

header h1 {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  webkit-transform: translate(-50%, -50%);
  moz-transform: translate(-50%, -50%);
}

p {
  margin: 15px auto;
  width: 90%;
  max-width: 600px;
  line-height: 1.7;
}

a.nav {
  font-family: 'Source Sans Pro', serif;
  display: block;
  position: fixed;
  text-decoration: none;
  top: 25vh;
  background: #555;
  color: #fff;
  padding: 10px;
  z-index: 99;
}

a.nav.next {
  right: 0;
}

a.nav.prev {
  left: 0;
}
