@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|PT+Serif:400,700,400italic');

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  color: #555;
}

.question-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

/* PARTIE SLIDER */

.range-slidecontainer{
  width: 50%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}

.minContainer{
  transform: rotate(-90deg);
  height: 10%;
}
.maxContainer{
  transform: rotate(-90deg);
  height: 10%;
}

.imagesContainer{
  width: 50%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}

.range-slider{
  -webkit-appearance: none;  /* Override default CSS styles */

    width: 80%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
/* Mouse-over effects */
.range-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.range-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


h1 {
  font-family: 'Source Sans Pro', serif;
}

.barba-container {
  position: relative;
}

header {
  position: relative;
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

header h1 {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  webkit-transform: translate(-50%, -50%);
  moz-transform: translate(-50%, -50%);
}

p {
  margin: 15px auto;
  width: 90%;
  max-width: 600px;
  line-height: 1.7;
}

a.nav {
  font-family: 'Source Sans Pro', serif;
  display: block;
  position: fixed;
  text-decoration: none;
  top: 25vh;
  background: #555;
  color: #fff;
  padding: 10px;
  z-index: 99;
}

a.nav.next {
  right: 0;
}

a.nav.prev {
  left: 0;
}

@media phones {
  max-width: 767px;

  /* tous les fichiers qui peuvent dépasser maxwidth (a completer ou élaguer selon le besoin)*/
  img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%;
  }

}